@keyframes surgir {
    0% {
        scale: 0.8;
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
scale: 1;
    }
}
@keyframes esticar {
    0% {
        margin-bottom: 0px;
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}