@media (max-width: 768px) {
    body {
        align-items: center;
        flex-flow: column-reverse nowrap;
        overflow-y: auto;
    }
    main#mainD {
        overflow-y: auto;
    }
    nav#navL {
        height: 100px;
        width: 440px;
        flex-flow: row nowrap;
    }
    div#divIMG {
        scale: 0.8;
    }
}