@media (max-width: 768px) {
    body {
        height: auto;
        width: 100vw;
        align-items: center;
        flex-flow: column nowrap;
        overflow-y: auto;
    }
    main#mainD {
        overflow-y: auto;
        width: 100vw;
        height: 100vh;
        padding-top: 90px;
    }
    nav#navL {
        z-index: 99;
        position: fixed;
        height: 100px;
        width: 100vw;
        justify-content: space-between;
        flex-flow: row nowrap;
    }
    div#divIMG {
        scale: 0.8;
    }
}