* {
    margin: 0;
    padding: 0;
    box-sizing: 0;}

body {
    background-color: rgba(0, 0, 0, 0.948);
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
nav#navL {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: rgb(18, 18, 18);
}
h2#btn {
    padding: 15px;
    margin-top: 40px;
    font-size: 18px;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    justify-self: start;
    align-self: flex-start;
    box-shadow: red 0px 0px 3px ;
    animation-name:surgir;
    margin-left: 20px;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
h2#btn:hover {
    cursor: pointer;
}
main#mainD {
    margin-top: 0px;
    width: 100vw;
    background-color: rgb(24, 24, 24);
    overflow-y: scroll;
}
div#divIMG {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.156);
    background-color: rgba(71, 71, 71,0.2);
    text-shadow: 0px 0px 1px white;
    transition: all 0.2s ease;
    animation-name:esticar;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

div#divIMG:hover {
    cursor: pointer;
    scale: 1.2;
}
div#divIMG > img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
}
div#divIMG > h6 {
    width: auto;
}

section.Stable {
height: 300px;
padding: 20px;
background-color: transparent;
overflow-x:hidden;
overflow-y: hidden;
}
section.Stable::-webkit-scrollbar {
    display: none;
}
.rodar {
    overflow-x: scroll;
}
.rodar::-webkit-scrollbar {
    display: none;
}
section.Stable > h1 {
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
}
div#divFilm > img {
    width: 150px;
    height: 230px;
}
div#filaDfilm {
    overflow-x: scroll;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
div#filaDfilm {
    background-color: transparent;
    height: 250px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.2s ease;
}
div#divFilm >img:hover {
    border: 1px rgba(255, 255, 255, 0.595) solid;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.69);
    cursor: pointer;
    scale: 1.02;
}
div#imagemjn {
    z-index: 999;
    background-color: transparent;
    border: 0px white solid;
    padding: 5px;
    height: 50px;
    gap: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#imagemjn > img {
width: 150px;
border: 0px solid white;
}
img#topIMG {
    filter:invert(100%);
    position: relative;
    width: 40px;
    transform: rotateZ(5deg);
}
h1#topDia {
    border-bottom: 1px rgba(255, 255, 255, 0.503) solid;
    width: 300px;
    text-shadow: 0px 0px 20px rgb(75, 75, 75);
}
div#pequenoIco {
    border: 0px solid white;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
div#pequenoIco > img {
width: 30px;
height: 30px;
filter: invert(80%);
}
div#pequenoIco > img:hover {
    cursor: pointer;
}
input#caixaPesquisa {
    background-color: rgba(55, 55, 55, 0.925);
    color: white;
    margin-left: 0px;
    border-radius: 50px;
    height: 30px;
    width: 300px;
    border: 0px solid white;
    font-size: 16px;
    box-shadow: 0px 0px 5px black;
    padding:5px;
    padding-left: 15px;
    position: relative;
}
section#exemplo > section#part1 {
    width: 100%;
    border: 0px solid white;
}
div#logoSerFil {
width: 50%;
}
div#logoSerFil > img {
    padding-left: 20px;
    padding-top: 20px;
    animation-name:surgir;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    width: 100%;
    height: 50%;
    border: white 0px solid;
}
div#videoDemo {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    border:  0px solid white;
    width: 90%;
}
div#videoDemo > img {
    box-shadow: -4px 2px 10px 10px #00000055;
    animation-name:surgir;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    opacity: 0;
    width: 100%;
    animation-fill-mode: forwards;
}
section#exemplo {
    padding-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    border: 0px white solid;
    background-color: transparent;
}
div#resumo {
    animation-name:surgir;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-weight: 400;
    padding: 20px;
    color: white;
    line-height: 1.5em;
    font-size: 20px;
    background-color: transparent;
    border: 0px solid white;
}